<h3>New Beer</h3>

<div>
 <label>Enter Beer Id:</label>
 <input #newId>
</div>

<div>
 <label>Enter Beer Name:</label>
 <input #newName>
</div>

<div>
 <label>Enter Beer Brand/Brewery:</label>
 <input #newBrand>
</div>

<div>
 <label>Enter Beer Style:</label>
 <input #newStyle>
</div>

<div>
 <label>Enter Beer ABV:</label>
 <input #newAlcoholContent>
</div>


<div>
  <button (click)="submitForm(newId.value, newName.value, newBrand.value, newStyle.value, newAlcoholContent.value)">Add</button>
</div>
